@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/style.css">

    <script src="https://kit.fontawesome.com/bd2b98c0b7.js" crossorigin="anonymous"></script>
    <script src="~/js/theme-toggle.js"></script>
</head>
<body>
<div class="main_page">

    <div class="row_non">

        <h1 id="logo_text">
            <span is="type-async" id="type-text">Wordle</span>
            <span class="blinking-cursor">_</span>
        </h1>

        
        <script src="~/js/text_animation.js"></script>
     

        <a href="@Url.Action("RankGame")"><button class="gamemode_button" data-translate="rank_mode">Tryb rankingowy</button></a>

            <a href="@Url.Action("CasualGame")"><button class="gamemode_button" data-translate="4fun_mode">Tryb 4fun</button></a>

    </div>
    <div class="row_non" style="margin-top:40vh;">
            <a href="@Url.Action("Ranking")"><button class="gamemode_button" data-bs-toggle="tooltip" data-bs-placement="top" title="Here you can see weekly ranking of best players" id="settings_button"> <i class="fa-solid fa-ranking-star"></i></button></a>
        <a href="@Url.Action("Options")"><button class="gamemode_button" data-bs-toggle="tooltip" data-bs-placement="top" title="Here you can change all settings" id="settings_button"><i class="fa-solid fa-gears"></i></button></a>
            <a href="@Url.Action("Instructions")"><button class="gamemode_button" data-bs-toggle="tooltip" data-bs-placement="top" title="Here you can change all settings" id="settings_button"><i class="fa-solid fa-gears"></i></button></a>
    </div>

</div>



<script src="js/bootstrap.bundle.js"></script>
<script src="~/js/language-switcher.js"></script>
</body>
